# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Web3
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_wallet_connect_project_id
NEXT_PUBLIC_BASE_MAINNET_RPC=https://mainnet.base.org
NEXT_PUBLIC_ZORTECH_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_ZORTECH_CONTRACT_ABI=

# Analytics (optional)
NEXT_PUBLIC_GA_ID=
